.loader {
  width: 24px;
  height: 24px;
  border: 2px solid rgb(244 81 30 / 100%);
  border-radius: 100%;
  border-top: none;
  border-left: none;
  animation: loading 0.5s linear infinite;
}

@keyframes loading {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
