.desktop_header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 24px 240px;
  margin: 0 auto;
  background-color: var(--bg-primary);
  gap: 32px;

  .navbar {
    display: flex;
    flex: 1;
    gap: 16px;
  }

  .app_logo {
    width: 120px;
    cursor: pointer;
  }

  .link,
  .exit_button {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .link_icon,
  .button_icon {
    width: 20px;
    height: 20px;
  }
}
